/********************************************
Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

/********************************************
Normalize CSS
http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
  -moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************
Web Fonts
****************************************** */

@font-face {
	font-family: 'Roboto Condensed Light';
	src: url('../fonts/robotocondensed-light-webfont.eot');
	src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
	url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
	url('../fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ******************************************
Custom Styles
****************************************** */

html {
	font-size: 100%;
	line-height: 1;
}

body {
	font-family: "Roboto Condensed Light", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	color: #333333;
	background-color: #777777;
	border: .65em solid #777777;

	/* Part of Advanced Checkbox Hack for navigation
  http://timpietrusky.com/advanced-checkbox-hack */
	-webkit-animation: bugfix infinite 1s;
	@-webkit-keyframes bugfix {
		from {padding: 0;}
		to {padding: 0;}
	}

}

.pagewrapper {

	background-color: #F3F2ED;

}

p {
	font-size: 1.063em; /* 17px / 16 = 1.063em */
	line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
	margin: .612em 0;
}

#resume li, p.description {
  font-size: 1em; /* 17px / 16 = 1.063em */
  line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
  margin: .612em 0;
}

h2,h3,h4,h5,h6 {
	font-weight: 100;
}

h1 {
	font-size: 3.189em;
	line-height: 1;
	font-weight: 500;
	letter-spacing: -1px;
	text-align: center;
}

h2  {
	font-size: 1.433em;
	line-height: 1.223;
	text-align: center;
}

h1, h2 {
  color:#555555;
	text-shadow: 0 2px 2px #FFF;
}

h3 {
  color:#555555;
	font-size: 1.382em;
	line-height: 1.223;
}

header h3, legend {
  color: #C60;
  padding-top: .65em;
  text-transform: uppercase;
}

h4 {
	font-size: 1em;
	line-height: 1.56;
	text-transform: uppercase;
}

h3,h4 {
	font-weight: 300;
}

h5 {
	font-size: .8125em;
	line-height: 1.125;
  color: #555555;

}

h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .85em;
	line-height: 1.53;
	font-weight: 500;
}
h6 {
	color: #a6a6a6;
	font-weight: 200;
}
/* https://css-tricks.com/examples/hrs/
 */

hr.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#lastli{
  border-bottom: 1px solid lightgrey;
}

.wrapper {
	padding: 0 .65em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer.wrapper {
	padding: 0 .65em;
}

/* logo animation */

.logowrap {
    width:200px;
    padding:10px;
    height:10.4em;
    margin: 0 auto;
    position:relative;
}

.logo img {
    display:block;
    margin:0 auto;
    width: 80px;
    -webkit-animation-name:Floating;
    animation-name:Floating
}
.shadow {
    width:50px;
    height:7px;
    position:relative;
    display:block;
    top:30px;
    margin:0 auto;
    background-color:#999;
    border-radius:50%;
    -webkit-animation-name:scale;
    animation-name:scale;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    opacity: .5;
}

.shadow, .logo img {
    -webkit-animation-duration:3s;
    animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear
}
/* Logo animation */

@-webkit-keyframes Floating {
    0% {
        -webkit-transform:translate(0, 0px);
        transform:translate(0, 0px)
    }
    50% {
        -webkit-transform:translate(0, 15px);
        transform:translate(0, 15px)
    }
    100% {
        -webkit-transform:translate(0, 0px);
        transform:translate(0, 0px)
    }
}
@-ms-keyframes Floating {
    0% {
        -webkit-transform:translate(0, 0px);
        -ms-transform:translate(0, 0px);
        transform:translate(0, 0px)
    }
    50% {
        -webkit-transform:translate(0, 15px);
        -ms-transform:translate(0, 15px);
        transform:translate(0, 15px)
    }
    100% {
        -webkit-transform:translate(0, 0px);
        -ms-transform:translate(0, 0px);
        transform:translate(0, 0px)
    }
}
@keyframes Floating {
    0% {
        -webkit-transform:translate(0, 0px);
        transform:translate(0, 0px)
    }
    50% {
        -webkit-transform:translate(0, 15px);
        transform:translate(0, 15px)
    }
    100% {
        -webkit-transform:translate(0, 0px);
        transform:translate(0, 0px)
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform:scale(0.75);
        transform:scale(0.75)
    }
    50% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    100% {
        -webkit-transform:scale(0.75);
        transform:scale(0.75)
    }
}
@-ms-keyframes scale {
    0% {
        -webkit-transform:scale(0.75);
        -ms-transform:scale(0.75);
        transform:scale(0.75)
    }
    50% {
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1)
    }
    100% {
        -webkit-transform:scale(0.75);
        -ms-transform:scale(0.75);
        transform:scale(0.75)
    }
}
@keyframes scale {
    0% {
        -webkit-transform:scale(0.75);
        transform:scale(0.75)
    }
    50% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    100% {
        -webkit-transform:scale(0.75);
        transform:scale(0.75)
    }
}


#topnav h3 {
	text-transform: capitalize;
}

#topnav {
	padding: .65em 0;
}

#topnav h3 {
	float: left;
	text-transform: capitalize;
}

#topnav ul {
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #e9e7de;
	margin: .65em 0 .39em;
}

#topnav li {
	border-top: 1px solid #e9e7de;
}

#topnav a {
	display: block;
	font-size: 1.063em;
	color: #333;
	text-decoration: none;
	padding: .975em 1.3em;
  text-align: center;
}

#topnav a:hover {
	background: #f8f8f8;
  color:#C60;
}

#topnav nav {
	height: 0;
	overflow: hidden;
}

#topnav input[type=checkbox] {
	position: absolute;
	top: -999em;
	left: -999em;
}

#topnav label {
	display: block;
	background: url("../img/icon-menu.svg") no-repeat right center;
	text-indent: -999em;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

#topnav input[type=checkbox]:checked ~ nav {
	height: auto;
	overflow: hidden;
}

#content article {
	padding-top: .65em;
	padding-bottom: 1.3em;
}

#portfolio {
  line-height: 1.82;
}

#portfolio h4 {
	line-height: 1.82;
}

.box {
	padding:14px;
}

.box h4 {
	color: #999;
	border-bottom: 1px solid #eee;
	margin-bottom: .975em; /* 3/4 of 1.3 */
	text-align: center;
}

.box ul {
	list-style: none;
	padding: 0;
}

#portfolio figure,.box {
	background: #fff;
	-moz-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	-webkit-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	padding: .975em; /* 3/4 of 1.3 */
}


/* Creates hover effect on Portfolio images */
#portfolio figure:hover,
.box:hover {
	-moz-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	-webkit-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
}

#portfolio figure {
  min-height: 200px;
}

.box {
  min-height: 237px;
}

section footer {
	clear: both;
}

#container-header {
  display: block;
}



#container-content {
	padding: 24px 0;
}

#container-footer {
	padding-bottom: 1.707em;
	font-weight:100;
  background-color: #888888;
}

img {
	max-width:100%;
}

#topnav,
#masthead,
#content,
#colophon,
#contact {
	margin: 0 3.3%;
}

#weeintrotype {
  text-align: center;
  margin-top: 0;
  margin-bottom: .975em;
}

.spaceafter {
  display: block;
  margin-bottom: 0.325em;
}

/* *******************************************
Fluid Media
******************************************* */

figure {
	position: relative;
}

figure img,
figure object,
figure embed,
figure video {
	display: block;
	max-width: 100%;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/*
interpolation-mode
http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
*/



/* ******************************************
Form Styles Basic Layout
****************************************** */

form {
	padding: .65em 0;


}

form ul {
	list-style: none;
	padding: 1.3em 0 0;
}

form li {
	padding: 0 0 .65em;
}

legend {
	font-size: 1.382em;
	line-height: 1.223;
  color:#F3F2ED;
}

label {
	display: block;
	font-size: 1em;
	line-height: 1.56;
	padding: 0 0 .325em;
}

legend, label {
	font-weight: 300;
	text-transform: uppercase;
}

input,
textarea {
	display: block;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.3;
	font-weight: 200;
	padding: .65em;
  border: 1px solid #e9e7de;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
* 1. Remove default vertical scrollbar in IE 6/7/8/9.
* 2. Improve readability and alignment in all browsers.
*/

textarea {
	padding-bottom: 10%;
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

.send {
	display: inline-block;
	max-width: 30em;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 1;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	background: #C60;
	margin: .65em auto;
	padding: .975em;
	border: 0;
	border-radius: 1.3em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .65);
}

.send:hover {
	background: #333333;
}

.send:active,
.send:focus {
	background: #555;
}


.icuthyemail {
    text-decoration: none;

  font-weight: 600;
  text-decoration: none;
  color: #444444;
  margin-bottom: 1.3em;
}
.icuthyemail:hover {
  color: #F3F2ED;
;
}


/* ******************************************
Tech Baby Animation
****************************************** */

.contain-techbaby {
  position: absolute;
  margin:  0 58%;
  width: 100px;
  height:155px;
  display: block;
}

.face {
  position: absolute;
  z-index: 2;
  background: #D79957;
  border-radius: 50%;
  width: 90px;
  height: 100px;
  background: -webkit-radial-gradient(#d79957 40%, #b27437);
  background: radial-gradient(#d79957 40%, #b27437);
}

.ear {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: 30px;
  left: -7.5px;
  width: 17.5px;
  height: 25px;
  background-image: -webkit-radial-gradient(#b27437, #d79957);
  background-image: radial-gradient(#b27437, #d79957);
}

.ear-2 {
  top: 31.5px;
  left: 80px;
}

.wrist {
  position: absolute;
  z-index: 2;
  background: #D79957;
  border-radius: 50%;
  top: 80px;
  left: -15px;
  width: 25px;
  height: 20px;
  background-image: -webkit-linear-gradient(#C1894E, #D79957);
  background-image: linear-gradient(#C1894E, #D79957);
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: type .7s ease infinite;
          animation: type .7s ease infinite;
}

.wrist-2 {
  left: 77.5px;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: type .5s 1s ease infinite;
          animation: type .5s 1s ease infinite;
}

.laptop {
  position: absolute;
  z-index: 5;
  background: #ffffff;
  border-radius: 5% 5% 5% 5%;
  top: 62.5px;
  left: -20px;
  width: 130px;
  height: 90px;
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc);
  background-image: linear-gradient(#eeeeee, #cccccc);
  -webkit-transform: perspective(300px) rotateX(-25deg);
          transform: perspective(300px) rotateX(-25deg);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.5);
}

.fruit {
  position: absolute;
  z-index: 6;
  margin: 0 auto;
  top: 40px;
  left: 54px;
  background: white;
  border-radius: 50% 50% 90% 90%;
  width: 20px;
  height: 17.5px;
}

.fruit:after {
  position: absolute;
  margin: 0 auto;
  top: -8.5px;
  left: 2.5px;
  border-right: solid white 5px;
  border-radius: 50%;
  width: 6.5px;
  height: 6.5px;
  content: "";
}

.curl {
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 25px;
  border-radius: 30% 70% 30% 30%;
  border-right: solid #ff530D 4px;
  width: 20px;
  height: 20px;
}

.eye {
  position: absolute;
  top: 35px;
  left: 16.5px;
  z-index: 2;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.eye-2 {
  left: 50px;
}

.pupil {
  position: absolute;
  top: 8px;
  left: 3.5px;
  background: #3E250A;
  border-radius: 50%;
  border: 4px solid #24708B;
  width: 7.5px;
  height: 7.5px;
  -webkit-animation: rolleyes 3s linear infinite;
          animation: rolleyes 3s linear infinite;
}

.foot {
  z-index: 3;
  top: 95px;
  left: -41px;
}

.sole {
  position: absolute;
  z-index: 3;
  top: 95px;
  left: -41px;
  background: #D79957;
  border-radius: 50%;
  width: 30px;
  height: 46px;
  -webkit-transform: rotate(-29deg);
      -ms-transform: rotate(-29deg);
          transform: rotate(-29deg);
  background-image: -webkit-radial-gradient(#d18a3f 10%, #d79957);
  background-image: radial-gradient(#d18a3f 10%, #d79957);
  box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.3);
}
.sole .toe {
  position: absolute;
  z-index: -1;
  top: -9px;
  left: 19px;
  background: #D79957;
  border-radius: 50%;
  width: 12.5px;
  height: 15px;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.sole .toe-2 {
  top: -7.5px;
  left: 10px;
  width: 7.5px;
  height: 10px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.sole .toe-3 {
  top: -4px;
  left: 3.5px;
  width: 6.5px;
  height: 10px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.sole .toe-4 {
  top: 3px;
  left: 0;
  width: 4.5px;
  height: 7.0px;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.foot-2 {
  z-index: 2;
  left: -10px;
  position: relative;
  background-color: black;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

@-webkit-keyframes type {
  from {
    top: 80px;
  }
  to {
    top: 58px;
  }
}

@keyframes type {
  from {
    top: 80px;
  }
  to {
    top: 58px;
  }
}
@-webkit-keyframes rolleyes {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  45% {
    -webkit-transform: translateX(-2px) translateY(-1px);
            transform: translateX(-2px) translateY(-1px);
  }
  85% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
@keyframes rolleyes {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  25% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  45% {
    -webkit-transform: translateX(-2px) translateY(-1px);
            transform: translateX(-2px) translateY(-1px);
  }
  85% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}

/* ******************************************
Media Queries for screen less than 45em (720px)
****************************************** */
@media screen and (max-width: 45em) {
	#container-header {

		padding: 10% 0;
	}

	#portfolio figure {
		max-width: 25em;
	}
}

/* ******************************************
Media Queries for screen wider than 45em (720px)
****************************************** */

@media screen and (min-width: 45em) {

	body {
		font-size: 107.692307692308%;
		border: 1.3em solid #777777;

	}

	#portfolio article {
		float: left;
		width: 50%;
	}

	#resume article {
		float: left;
		width: 33.33%;
	}

	#masthead {
		max-width:40em;
	}

 header#masthead.wrapper {
    margin: 0 auto;
  }

	#content,
   {
		margin: 0 5.5%;
	}

  #topnav {
  margin: 0 0 0 3.3%;
  }
	#container-header {
		padding:5% 0;
	}


	#topnav label {
		display: none;
	}


	#topnav {
		padding: 0;
	}

	#topnav h3 {
		margin: .65em 1.3em 0 0;
	}

	#topnav label {
		display: none;
	}

	#topnav nav {
		height: auto;
	}

	#topnav ul {
    float: right;
		border: 0;
		margin: 0;
	}
	#topnav li {
		display: inline;
		border: 0;
	}
	#topnav a {
		display: inline-block;
	}

	.name, .email {
		float: left;
		width: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.name {
		padding-right: .65em;
	}

	.email {
		padding-left: .65em;
	}

	.send {
		width: 48.6%;
	}

  .contain-techbaby {
  position: absolute;
  margin:  0 75%;
}
}

/* ******************************************
Media Queries for screen wider than 60em (960px)
****************************************** */

@media screen and (min-width: 60em) {

	#portfolio article,
	#resume article {
		float: left;
		width: 33.333%;
	}

	.name, .email {
		padding-right: 1.3em;
		padding-left: 0;
		clear: both;
	}

	.message textarea {
		width: 50%;
	}

	.send {
		width: 25%;
		margin-left: 50%;
	}

	/* Form Fixes, IE7 and below */

	.ie .message textarea {
		*width: 49.9%;
	}

	.ie .send {
		*margin-left: 46.7%;
	}
}


/* ******************************************
Print Styles
****************************************** */
@media print and (max-width: 8.5in){

	#masthead {
		color:black;
	}

	#container-header {
		height: auto;
	}

	img {
		width:2in;
	}

	#portfolio	{
		float:left;
		width:45%;
	}

	#resume	{
		float:right;
		width:45%;
	}

	#container-footer	{
		clear:both;
	}

}


/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
	content: " ";
	display: table;
	clear: both;
}
/* Clearfix */

.group {
	*zoom: 1;
}


/* Figures/Images */

.ie #portfolio figure {
	width: 100%;
	box-sizing: border-box;
}

/* "*" hack applies only to IE7 and below */

.ie #portfolio figure {
	*width: auto;
}

/* Navigation */

/* IE8 .checked class for checkbox.js */

#topnav input[type=checkbox].checked ~ nav {
	height: auto;
	overflow: visible;
}

/* Always show nav, IE7 and below */

.ie #topnav nav {
	*height: auto;
	*overflow: visible;
}

/* Hide navicon, IE7 and below */

.ie #topnav label {
	*background: none;
}

/* box-sizing polyfill, IE7 and below */

.ie .wrapper,
.ie .name,
.ie .email,
.ie input,
.ie textarea {
	*behavior: url("./js/boxsizing.htc");
}
